@import "../../common/less/index";
.HomeHeader{
  font-size: 1.8rem;
  background-color:rgb(233,32,61);
  padding: 1rem;
  .home-header-left {
    width: 6rem;
    text-align: left;
    margin: 0.5rem 0;
  }
  .home-header-right{
    width: auto;
    margin: 0 3rem 0 6rem;
    .search-container{
      background-color: #fff;
      border-radius: 1.5rem;
      overflow: hidden;
      padding: 0.5rem;
      i{
        color: #ccc !important;
      }
      input{
        font-size: 1.4rem !important;
        font-weight: normal;
      }
    }
  }
}